__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
.vscode/
.idea/
.git
.gitignore
node_modules/
dist/
build/
outputs/
uploads/
*.log
*.db
.env
*.env
Unified_PDF_Platform/unified_outputs/
Unified_PDF_Platform/uploads/
Insurance_pdf_extractor-main/backend/outputs/
work_compenstaion/backend/outputs/
Email_pipeline/token.json
Email_pipeline/credentials.json
